
body {
    margin: 0 auto;
  width: 70%;
  padding: 0;
}
div {
    
    /*background: lightblue; /* Цвет фона */
    padding: 0px; /* Поля */
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

figcaption{
    text-align:center;
    font-style: italic;
    float: bottom;
}

figure { 
    float: right;
    margin: 10px 10px 10px 10px;
    border: 3px solid lightgray;
    padding: 5px;
    background-color: azure;
    text-align: center;
    clear: right;
}


h1 {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 32px;
  margin-top: 1.5em;
}

h2 {
  position: relative;
  font-family: "Helvetica", sans-serif;
  margin-top: 1.5em;
}

table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    background-color: azure;
 }
th {
   border: 1px solid grey;
}
td {
   border: 1px solid grey;
}
